*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/core/common/build/
/core/database/build/
/core/network/build/
/core/ui/build/
/feature/auth/build/
/feature/cart/build/
/feature/home/build/
/feature/orders/build/
/feature/product/build/
/feature/wishlist/build/
/.vscode/
/.kotlin/
/.idea/
